* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: rgba(236, 240, 241, 1.0);
}

.container {
    width: 60vw;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    margin: 0.5rem 0 0 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

nav {
    text-align: center;
    color: rgba(52, 152, 219, 1.0);
    font-size: 1.8rem;
}

a, a:visited {
    color: rgba(52, 152, 219, 1.0);
    text-decoration: none;
}