* {
    font-family: 'Manrope', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: rgba(236, 240, 241, 1.0);
}

.container {
    width: 60vw;
    margin: auto;
    background-color: rgba(44, 62, 80,1.0);
    color:rgba(236, 240, 241, 1.0);
    min-height:100vh;
}
img{
    max-width:100%;
}
h1 {
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    margin: 0.5rem 0 0 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

nav {
    text-align: center;
    color: rgba(52, 152, 219, 1.0);
    font-size: 1.8rem;
}

a, a:visited {
    color: rgba(52, 152, 219, 1.0);
    text-decoration: none;
}

.product-box{
    width:13vw;
    float:left;
    padding:0.5rem;
    margin:1vw;
    background-color:rgba(236, 240, 241, 1.0);
    color:rgba(44, 62, 80,1.0);
}
.product-box h3{
    font-size:1.2rem;
}
.product-box p{
    font-size: 0.8rem;
}
