{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

{% block main %}
<div class="products">
    {% for product in products %}
    <div class="product-box">
        <div class="product-box-heading">
            <h3>{{ product[0] }}</h3>
        </div>
        <div class="product-box-image">
            <img src="static/images/{{ product[4] }}.jpg">
        </div>
        <div class="product-box-info">
            <p>{{ product[1] }} </p>
            <p><strong>Volume: </strong>{{ product[2] }}</p>
            <p><strong>Price: </strong>${{ product[3] }}</p>
            {% if logged_in %}
            <a href="/addtocart/{{ product[5] }}">Add to cart &raquo;</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}